@keyframes zoom {
    from {transform: scale(100%);}
    to {transform: scale(103%);}
  }

@keyframes zoomlogo {
    from {transform: scale(150%);}
    to {transform: scale(100%);}
}

p, h3, h2, h1{
    color: white;
    text-align: center;
    margin: 20px;
}

.mainimg {
    box-shadow: 0px 0px 25px 0px#af00b5;
    border-radius: 25px;
}

.video {
    z-index: 100;
    visibility: hidden;
    position:fixed;
    top: 0px;
    width: 100%;
}

h1{
    font-family: 'Rubik Glitch';
    font-weight: 100;
    position: relative;
    top: -10%;
    box-shadow: 0px 0px 25px 0px#af00b5;
    padding: 10px;
    border-radius: 25px;
}

h2, h3 {
    font-family: 'Geo';
    font-size: x-large;
}

p {
    font-family: 'Bungee Hairline';
    font-weight: 1000;
}

.heading-2 {
    margin-top: 50px;
    margin-bottom: 25px;
}

.visit_button {
    width: 50%;
}

.visit_button:hover {
    animation-name: zoom;
    animation-duration: 0.2s;
    transform: scale(103%);
    cursor: pointer;
}

.section-2{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.505);
    padding-top: 3px;
    padding-bottom: 30px;
    margin-top: 50px;
    box-shadow: 5px -0px 5px 2px#af00b5;
}

.img-sect{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.505);
    padding-top: 3px;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    box-shadow: 5px -0px 5px 5px#af00b5;
}

.ffp-logo {
    width: 50%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;

    animation-name: zoomlogo;
    animation-duration: 1s;
}

.ffp-logo:hover {
    cursor: pointer;
}

.locations-grid {
    display: grid;
    place-items: center;
    justify-content: center;
    grid-gap: 25px;
    grid-template-columns: 40% 40%;
}

.credits-grid {
    display: grid;
    place-items: center;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
}


.location_description {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.img-container {
    width: 40vw;
    height: 25vw;
    margin-bottom: 10px;
}

.locations-image {
    width: 80%;
    height: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-radius: 25px;
    background-color: white;
    padding: 5px;
}

.locations-image:hover {
    animation-name: zoom;
    animation-duration: 0.2s;
    transform: scale(103%);
}

footer {
    width: 100%;
    background: linear-gradient(to right, #000000, #36003b);
    color: white;
    text-align: center;
    padding: 10px 0;
    border-top: 12px solid;
    border-image: linear-gradient(to right, black, gray, black) 1;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .footer-logo img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .footer-info {
    font-size: 14px;
    padding-top: 10px;
    width: 100%;
    text-align: center;
  }
  
  .footer-info a {
    color: white;
    text-decoration: none;
  }
  
  .footer-info a:hover {
    text-decoration: underline;
  }
  

@media screen and (max-width: 700px) {
    .locations-grid {
        grid-template-columns: 100%;
    }

    .img-container {
        width: 80vw;
        height: 50vw;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    
}
