@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Trade+Winds&display=swap');

body {
    display: grid;
    --green: #b3ffa3;
    --bg: rgb(0, 0, 0);
    background-color: var(--bg);
    color: var(--green);
    text-shadow: 0 0 15px rgba(0, 255, 0, 0.4);
}

/* Text Styles */
h1,
footer p {
    font-family: "Trade Winds", "Sans Serif";
    color: var(--green);
    animation: flickerAnimation 4s infinite;
}


h2,
h3 {
    font-family: "Share Tech Mono", "Sans Serif";
    text-decoration: #008000;

}

p,
ul {
    font-family: "Share Tech Mono";
    font-size: 18px;
}

/* Page Header CSS */
.image-container {
    display: grid;
    place-items: center;
}

.image-container img {
    width: 100%;
    opacity: 45%;
    height: auto;
}

.text {
    position: absolute;
    font-size: 96px;
    text-align: center;
}

/* Grid Layout Styles */
.grid-three-one,
.grid-one-three {
    display: grid;
    border: solid 1px var(--green);
    margin: 25px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.4);
}

.grid-three-one {
    grid-template-columns: 3fr 1fr;
}

.grid-one-three {
    grid-template-columns: 1fr 3fr;
}

.three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px;
    gap: 15px;
}

.grid-three-one .gallery-container {
    margin-right: 10px;
}

.grid-three-one .gallery-container {
    margin-right: 10px;
}

/* Images CSS */
.gallery img {
    width: auto;
    height: 400px;
    object-fit: cover;
    justify-self: center;
}


.gallery-container:hover {
    transform: scale(101%);
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.4);
}

.gallery-container {
    width: auto;
    height: auto;
    border: 1px solid var(--green);
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.4);
    margin: 10px;

}

.center {
    text-align: center;

}

.mySlides {
    display: none;
    width: auto;
    height: 400px;
    object-fit: cover;
    justify-self: center;
}

/* Typewriter style */
.typewriter h2,
h3 {
    overflow: hidden;
    border-right: .12em solid var(--green);
    white-space: nowrap;
    margin: 0 auto;
    display: inline-block;
    letter-spacing: 0;
    animation:
        typing 3s steps(50, end) forwards,
        blink-caret 1.5s step-end infinite;
}

/* Card Styles*/
.card {
    border: 2px solid var(--green);
    border-radius: 20px;
    padding: 50px;
    margin: 50px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.4);
    /* Green glow */
    justify-content: center;

}

.card:hover {
    transform: scale(105%);
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.4);

}

.card img {
    width: auto;
    height: auto;
    justify-self: center;
}

/* Footer Styles */
footer {
    text-align: center;
    border-top: 2px solid #008000;
    margin-top: 25px;
    padding: 15px;
}

.cupcake {
    justify-self: center;
}

/* Skip Link Styles */
.skip-link {
    background-color: var(--green);
    padding: 10px;
    display: block;
    color: var(--bg);
    z-index: 101;
    position: absolute;
    top: -100px;
    transition: top 0.2s;
}

.skip-link:focus {
    top: 0;
    z-index: 101;

}

/* Animations */
/* The typing effect */
@keyframes typing {
    from {
        max-width: 0
    }

    to {
        max-width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--green);
    }
}

/* Flicker Animation */
@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Mobile Responsiveness */
@media screen and (width <=1100px) {


    .text {
        position: absolute;
        font-size: 48px;
        text-align: center;
    }


    .grid-three-one {
        display: flex;
        flex-direction: column;
        border: solid 1px var(--green);
        text-align: center;
        border-radius: 5px;
        margin: 25px;
        border-radius: 5px;
    }

    .grid-one-three {
        display: flex;
        flex-direction: column;
        border: solid 1px var(--green);
        margin: 25px;
        border-radius: 5px;
    }

    .three-col {
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 15px;
    }

    .grid-three-one .gallery-container {
        margin-right: 10px;
        margin-left: 10px;
    }

}