/* Circus Baby's Features Styles */
.cb-feature-box 
{
    background-color: rgba(0, 20, 40, 0.6);
    border: 3px solid #00adee;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
}

.cb-feature-item 
{
    text-align: center;
    padding: 10px;
}

.cb-subheading 
{
    font-family: 'Silkscreen', sans-serif;
    color: #ff4d9e;
    margin-bottom: 10px;
    font-size: 1.3em;
}

@media screen and (max-width: 920px) 
{
    .cb-feature-box 
    {
        width: 95%;
    }
}